body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("skyline-background.jpg");
	opacity: 0.63;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#title {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #000;
}
#aboutmetitle {
	text-align: center;
}
h4#title-subname {
	margin-left: 30%;
	margin-right: 30%;
	border-top-style: solid;
	border-top-color: #353536;
	padding-top: 20px;
}
