body{
	background: #fff886;
    background: -webkit-linear-gradient(bottom right,#fff886,#dd6161);
    background: -moz-linear-gradient(bottom right,#fff886,#dd6161);
    background: linear-gradient(bottom right,#fff886,#dd6161);
}
            