body,
html {
  height: 100%;
}

#background {
  /* background-image: url("./skyline-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  height: 90vh;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}

#name {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  margin: auto;
}

#first-name {
  width: 100%;
  height: 20%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
#last-name {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nikita {
  position: relative;
  color: azure;
  overflow: hidden;
  font-size: 80px;

  animation: 5s slide-up-first-name;
  margin-top: 0%;
}

@keyframes slide-up-first-name {
  from {
    margin-top: 10%;
    color: black;
  }

  to {
    margin-top: 0%;
    color: azure;
  }
}

#sheremet {
  position: relative;
  color: azure;
  overflow: hidden;
  font-size: 80px;
  animation: 5s slide-right-last-name;
}
@keyframes slide-right-last-name {
  from {
    margin-left: -100%;
    color: black;
  }

  to {
    margin-right: 0%;
    color: azure;
  }
}
